body {
    background-color: whitesmoke;
  }
  #clock {
    color: blueviolet;
    font-size: xx-large;
    text-align: center;
    padding: 15px 0;
  }
  nav {
    display: flex;
    background-color: #B7C4CF;
    justify-content: space-between;
    padding: 5px 0;
  }
  nav .logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Arial Narrow Bold', sans-serif;
    margin-left: 25px;
  }
  nav h4{
    color: #CDF0EA;
  }

